[submodule "dependencies/Nima-Flutter"]
	path = dependencies/Nima-Flutter
	url = https://github.com/2d-inc/Nima-Flutter.git
[submodule "dependencies/Flare-Flutter"]
	path = dependencies/Flare-Flutter
	url = https://github.com/2d-inc/Flare-Flutter.git
